body {
    background-color: #000;
    color: #fff;
}

.panel {
    background-color: #303030;
    font-family: Brass Mono, Monospace;
}

.panel h1 {
    background-color: #535353;
    font-size: 1.5rem;
    padding-top: 2px;
    padding-left: 10px;
    cursor: pointer;
}

.panel h1::before {
    content: "▲";
    margin-right: 14px;
}

#login {
    width: 350px;
    margin: 0 auto;
}

#login form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 3px dotted #565656;
    margin-bottom: 10px;
}

#login form input[type=password],
#login form input[type=text] {
    background-color: #000;
    font-family: Brass Mono, Monospace;
    font-size: 1rem;
    color: #fff;
    border: 3px inset #989898;
}

#login form input[type=password]:focus,
#login form input[type=text]:focus {
    outline: none;
}

#login form select {
    background-color: #3e3e3e;
    border: 2px solid #3e3e3e;
    font-family: Brass Mono, Monospace;
    font-size: 1rem;
    color: #fff;
}

#login form select:hover {
    cursor: pointer;
}

#login form input[type=submit] {
    background-color: #3e3e3e;
    border: 2px solid #3e3e3e;
    font-family: Brass Mono, Monospace;
    font-size: 1rem;
    color: #fff;
}

#login form input[type=submit]:hover {
    background-color: #646464;
    border: 2px solid #646464;
    cursor: pointer;
}

#home {
    width: 480px;
    margin: 0 auto;
}

.controls {
    text-align: center;
}

.controls a {
    color: #fff;
    margin: 0 3px;
    font-size: 1rem;
}

.places {
    text-align: center;
    border-bottom: 3px dotted #565656;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.places a {
    color: #fff;
    margin: 0 3px;
    font-size: 1rem;
}

#home .banner {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

#file-view {
    border-bottom: 4px dotted #3e3e3e;
    margin: 0 auto;
}

#file-view table {
    width: 40%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#file-view table th {
    padding: 4px;
}

#file-view table th:nth-child(1), 
#file-view table td:nth-child(1) {
    text-align: left;
}

#file-view table th:nth-child(2), 
#file-view table th:nth-child(3),
#file-view table td:nth-child(2),
#file-view table td:nth-child(3) {
    text-align: right;
}

#file-view table thead {
    background-color: #1e1e1e;
}

#file-view table tbody tr {
    background-color: #535353;
}

#file-view table tbody tr:nth-child(even) {
    background-color: #646464 !important;
}

#file-view table a {
    color: #fff;
}
