<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAS-view :: {% block page_title %}Home{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='asset/favicon.svg') }}">
    <style type="text/css">
      @font-face {
        font-family: Brass Mono;
        src: url("{{ url_for('static', filename='asset/BrassMono-Regular.ttf') }}");
      }
      @font-face {
        font-family: Brass Mono;
        src: url("{{ url_for('static', filename='asset/BrassMono-Bold.ttf') }}");
        font-weight: bold;
      }
      @font-face {
        font-family: Brass Mono;
        src: url("{{ url_for('static', filename='asset/BrassMono-Italic.ttf') }}");
        font-style: italic;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">    
    {% block extra_css %}{% endblock %}

    {% block preload_scripts %}{% endblock %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section id="flash-messages" class="popup">
      <h1>Server Messages</h1>
      <div class="content">
	{% for category, message in messages %}
	<div class="status status-{{ category }}">{{ message }}</div>
	{% endfor %}
      </div>
    </section>
    {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='js/popup-handler.js') }}"></script>
  </body>
</html>
