{% extends "base.html" %}

{% block page_title %}Create User{% endblock %}

{% block content %}
<section id="login" class="panel">
  <h1>Create User</h1>

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.username }}
    {{ form.password }}

    <div class="form-group">
      <label for="quota">Quota</label>
      {{ form.quota }}
    </div>

    <div class="form-group">
      <label for="hidden">Hidden</label>
      {{ form.hidden }}
    </div>

    {{ form.submit }}
  </form>

  <div class="controls">
    <a href="{{url_for('home')}}">◀ Return</a>
    <a href="{{url_for('/auth.login')}}">Login</a>
  </div>
</section>
{% endblock %}
